<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <link rel="shortcut icon" href="img/icon.png" type="image/x-icon" />
        <title>Expedition File Explorer</title>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="lib/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="lib/vue/vue.prod.js"></script>
        <script type="text/javascript" src="lib/vue/Sortable.min.js"></script>
        <script type="text/javascript" src="lib/vue/vuedraggable.umd.min.js"></script>
        <script type="text/javascript" src="lib/jszip.min.js"></script>
        <script type="text/javascript" src="js/index.js"></script>

        <link type="text/css" rel="stylesheet" href="css/index.css" />
    </head>
    <body>
        <div id="app">
            <div class="header">
                <div class="header_box">
                    <img src="img/icon.png" alt="Expedition Icon" v-on:click="internal()" />
                </div>
                <button class="button"
                    v-on:click="home()"
                >Home</button>
                &#160;
                &#160;
                <button class="button"
                    v-on:click="open({'name': 'root', 'path': 'file:///', 'dir': true})"
                >Root</button>
                &#160;
                &#160;
                <button class="button"
                    v-on:click="mode = 'menu'"
                >Menu</button>
                <div style="float: right; padding-right: 10px;">
                    <button class="button"
                        v-on:click="mode = 'help'"
                    >?</button>
                </div>
            </div>

            <div class="main" v-bind:style="{'font-size': font_size + 'rem'}">
                <div v-if="mode != 'settings' && mode != 'help'">
                    {{ path }}
                </div>

                <div v-show="loading">Loading...</div>

                <div class="error">{{ error_message }}</div>

                <div v-if="mode != 'settings' && mode != 'help'">
                    <div v-for="dir in base" v-if="filter == '' || dir.name.indexOf(filter) != -1">

                        <label v-if="mode == 'select'" class="row">
                            <input type="checkbox" v-model="dir.select">

                            {{ dir.name + (dir.dir ? "/" : "") }}<br>

                            <span v-if="show_path_detail"
                                v-bind:style="{'font-size': font_size + 'rem'}"
                            >({{ dir.path }})</span>
                        </label>

                        <div v-if="mode != 'select'"
                            v-on:click="open(dir)"
                            class="row"
                            v-on:contextmenu="openMenu(event, dir)"
                            v-on:touchstart="menuStart(event, dir)"
                            v-on:touchend="menuStop(dir)"
                            v-on:touchmove="menuMove(event)"
                        >
                            {{ dir.name + (dir.dir ? "/" : "") }}<br>

                            <span v-if="show_path_detail"
                                v-bind:style="{'font-size': (font_size * 0.7) + 'rem'}"
                            >({{ dir.path }})</span>
                        </div>
                    </div>
                </div>

                <div v-if="mode == 'help'" class="helpscreen">
                    <br>
                    <h2>Help</h2><br>
                    <dl>
                        <dt><b>Why can I only extract .zip files?</b></dt>
                        <dd>That's because we found a JavaScript
                        library that can do .zip compression and
                        extraction, but haven't gotten around to
                        finding ways to support other archive
                        formats. We might in the future if
                        there's enough interest.</dd>
                    </dl>
                    <dl>
                        <dt><b>How do I sort/edit the Home links/Bookmarks?</b></dt>
                        <dd>Open "Settings" from the Menu.
                        Entries in the list of Bookmarks can be
                        dragged to new positions in the list.</dd>
                    </dl>
                    <dl>
                        <dt><b>What are the Private App Directories?</b></dt>
                        <dd>Android apps are given their own private
                        directories only accessible to that app.
                        These are directories normally only
                        accessible to this specific app.
                        Access these by clicking the icon at the
                        top left of the screen.</dd>
                    </dl>
                    <dl>
                        <dt><b>Who made this app?</b></dt>
                        <dd>This app was made by
                        <a href="https://ouroborosproductions.org/"
                           v-on:click="open({'dir': false, 'path': 'https://ouroborosproductions.org/'}, true)"
                        >OuroborosProductions.org</a>,
                        a site that acts as a loose collection of programming projects.</dd>
                    </dl>
                    <dl>
                        <dt><b>How was this made?</b></dt>
                        <dd>This app was made using Apache Cordova to port a web page as
                        an android app. The following JavaScript libraries are used:
                        <ul>
                            <li>Vue.js</li>
                            <li>jQuery</li>
                            <li>JSZip</li>
                        </ul></dd>
                    </dl>
                </div>

                <div v-if="mode == 'settings'">
                    <table class="settings">
                        <tr>
                            <th>Details</th>
                            <td>
                                <label>
                                    <input type="checkbox" v-model="show_path_detail" v-on:change="save_config()">
                                    Path
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>Font Size</th>
                            <td>
                                <input type="number" min="0.1" step="0.1" v-model="font_size" v-on:change="save_config()">
                            </td>
                        </tr>
                        <tr>
                            <th>Sort</th>
                            <td>
                                <label>
                                    <input type="checkbox" v-model="sort_dirs" v-on:change="save_config()">
                                    Separate Files and Folders
                                </label>
                                <br>
                                <label>
                                    <input type="checkbox" v-model="sort" v-on:change="save_config()">
                                    Alphabetically
                                </label>
                            </td>
                        </tr>
                    </table><br>

                    <b>Bookmarks</b><br>
                    <sub>(drag to sort)</sub>
                    <draggable
                        v-model="bookmark_list"
                        @end="save_config()"
                    >
                       <div
                           v-for="(item, index) in bookmark_list"
                           :key="item.path"
                           class="bookmark"
                       >
                           <button v-on:click="remove_bookmark(index)">X</button>
                           <button v-on:click="rename_bookmark(index)">Rename</button>
                           {{ item.name }}<br>
                           <sub>{{ item.path }}</sub>
                       </div>
                    </draggable>
                </div>
            </div>

            <div class="footer">
                <div v-if="mode == 'filter' || filter.length > 0">
                    <input placeholder="Filter" v-model="filter" style="margin: auto; width: 90%;">
                </div>

                <table>
                    <tr v-if="mode == 'menu'">
                        <td v-if="shouldShowButton('Select')"
                            v-on:click="mode = 'select'"
                        >
                            Select
                        </td>
                        <td v-if="shouldShowButton('Filter')"
                            v-on:click="mode = 'filter'; filter = ''"
                        >
                            Filter
                        </td>
                        <td v-if="shouldShowButton('New Folder')"
                            v-on:click="newFolder()"
                        >
                            New Folder
                        </td>
                    </tr>
                    <tr v-if="mode == 'menu'">
                        <td v-if="shouldShowButton('Details')"
                            v-on:click="details()"
                        >
                            Details
                        </td>
                        <td>
                            <!--Donate-->
                        </td>
                        <td v-on:click="mode = 'settings'">
                            Settings
                        </td>
                    </tr>

                    <tr v-if="mode == 'select'">
                        <td v-on:click="select_all(true)">
                            Select All
                        </td>
                        <td v-on:click="select_all(false)">
                            Deselect All
                        </td>
                        <td v-on:click="toggle_selected()">
                            Toggle Select
                        </td>
                    </tr>
                    <tr v-if="mode == 'select' && path.length > 0">
                        <td v-if="shouldShowButton('Copy')"
                            v-on:click="copyMoveStart('copy_to_dir')"
                        >
                            Copy
                        </td>
                        <td v-if="shouldShowButton('Move')"
                            v-on:click="copyMoveStart('move_to_dir')"
                        >
                            Move
                        </td>
                        <td v-if="shouldShowButton('Delete')"
                            v-on:click="remove()">
                            Delete
                        </td>
                    </tr>

                    <tr v-if="mode == 'move_to_dir'">
                        <td v-on:click="move()">
                            Move "{{ select_text }}" to "{{ path }}"
                        </td>
                    </tr>

                    <tr v-if="mode == 'copy_to_dir'">
                        <td v-on:click="copy()">
                            Copy "{{ select_text }}" to "{{ path }}"
                        </td>
                    </tr>
                </table>
                <dir v-if="mode == 'copying'">
                    Copying "{{ select_text }}"
                </dir>
                <dir v-if="mode == 'moving'">
                    Moving "{{ select_text }}"
                </dir>
            </div>

            <div class="backdrop" v-if="show_context" v-on:click="show_context -= 1">
                <div class="context" v-on:click="show_context += 1">
                    <div>
                        <b>{{ selected.name.substr(0, 50) }}</b>
                    </div>

                    <div class="buttons" v-if="mode == 'context'">
                        <div v-on:click="open(selected)"               v-if="shouldShowButton('Open')"    >Open</div>
                        <div v-on:click="details(selected)"            v-if="shouldShowButton('Details')" >Details</div>
                        <div v-on:click="rename(selected)"             v-if="shouldShowButton('Rename')"  >Rename</div>
                        <div v-on:click="copyMoveStart('move_to_dir')" v-if="shouldShowButton('Move')"    >Move</div>
                        <div v-on:click="copyMoveStart('copy_to_dir')" v-if="shouldShowButton('Copy')"    >Copy</div>
                        <div v-on:click="remove(selected)"             v-if="shouldShowButton('Delete')"  >Delete</div>
                        <div v-on:click="compress(selected)"           v-if="shouldShowButton('Compress')">Compress</div>
                        <div v-on:click="extract(selected)"            v-if="shouldShowButton('Extract')" >Extract</div>
                        <div v-on:click="add_bookmark(selected.path)"  v-if="shouldShowButton('Bookmark')">Bookmark</div>
                    </div>

                    <div v-if="mode == 'compressing'">
                        Compressing...
                        {{ compressing }}
                    </div>

                    <div v-if="mode == 'extracting'">
                        Extracting...
                        {{ compressing }}
                    </div>

                    <table v-if="mode == 'details'">
                        <tr>
                            <th>Modification Time:</th>
                            <td>{{ parseDatetime(details_obj.modificationTime) }}</td>
                        </tr>
                        <tr>
                            <th>Size:</th>
                            <td>{{ parseFileSize(details_obj.size) }}</td>
                        </tr>
                        <tr v-if="details_obj.count > -1">
                            <th>File Count:</th>
                            <td>{{ details_obj.count }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
